python-dotenv
streamlit
langchain==1.2.3
langchain-classic==1.0.1
langchain-community
langchain-text-splitters
langchain-huggingface
chromadb
langchain-chroma
langchain-groq
sentence-transformers
langchain-unstructured
unstructured
unstructured[pdf]
nltkpython-dotenv
streamlit
langchain==0.1.20
langchain-community==0.0.38
langchain-text-splitters==0.0.1
langchain-huggingface==0.0.3
chromadb==0.4.24
langchain-chroma==0.1.0
langchain-groq==0.0.3
sentence-transformers
langchain-unstructured
unstructured
unstructured[pdf]
nltk
